[submodule "source/deps/cJSON"]
	path = source/deps/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "source/deps/QuickJS"]
	path = source/deps/QuickJS
	url = https://github.com/bellard/quickjs.git
[submodule "inspiration/yt-dlp"]
	path = inspiration/yt-dlp
	url = https://github.com/yt-dlp/yt-dlp.git
