[submodule "source/deps/cJSON"]
	path = source/deps/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "source/deps/QuickJS"]
	path = source/deps/QuickJS
	url = https://github.com/bellard/quickjs.git
[submodule "source/deps/L-SMASH"]
	path = source/deps/L-SMASH
	url = https://github.com/l-smash/l-smash.git
